<!DOCTYPE html>
<html lang="en">
<head>
  <title>EQ | Invoice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-3 bg-white rounded">
                        <h2 class="text-uppercase" style="text-align: center;">INVOICE</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div  style="float: left;text-align:left">
                            <span class="font-weight-bold " style="font-size:10px">
                            ExpertQ Solutions LLP <br>				
                            S J Arcade, 3rd Floor, Seaport-Airport Rd				<br>
                            Thrikkakara P.O, Kakkanad, Kochi				<br>
                            PAN ( EQ):		XXXXXXXXX		<br>
                            </span>
                        </div> 
                    </div>
                    <div class="col-sm-6">
                        <div style="float:right;text-align:right">
                         <span class="font-weight-bold" style="font-size:10px">
                            INVOICE NUMBER :  EQ{{{invoiceid}}} <br>				
                            INVOICE DATE  : {{{date}}}			<br> 
                            </span>
                            </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-6">
                        <div  style="float: left;text-align:left">
                            <span  style="font-size:10px">
                           <p style="font-weight:bold">  Bill To:  </p> 
                                {{{hiringManager_company_address}}} 
                            
                            </span>
                        </div> 
                    </div> 
                </div>

                <div class="mt-3">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr style="font-size: 10px;">
                                    <th>S.No</th>
                                    <th># of Hours</th>
                                    <th>DESCRIPTION</th>
                                    <th>UNIT PRICE  </th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 9px;">
                                <tr>
                                    <td>1</td>
                                    <td>{{{totalHours}}}</td>
                                    <td>{{{Requirement_name}}}</td>
                                    <td> {{{resourceRate}}} </td>
                                    <td> {{{TotalPrice}}}</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td> - </td>
                                    <td>Service Commission ( As per the set %)			</td>
                                    <td>   </td>
                                    <td> {{{comission}}}</td>
                                </tr> 
                                <tr>
                                    <td> </td>
                                    <td>   </td>
                                    <td> </td>
                                    <td>  Sub total </td>
                                    <td> {{{subTotal}}}</td>
                                </tr> 
                                <tr>
                                    <td> </td>
                                    <td>   </td>
                                    <td>  </td>
                                    <td>  GST </td>
                                    <td> {{{gstAmount}}}</td>
                                </tr> 
                                <tr>
                                    <td> </td>
                                    <td>   </td>
                                    <td>  </td>
                                    <td>  Total </td>
                                    <td> {{{grantTotal}}}</td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>

                </div> 
                <div class="row">
                    <div class="col-sm-4">

                        <span class="font-weight-bold " style="font-size:10px">
                        Bank details for Online Transfer: xxxx <br>			
                        Payee : ExpertsQ Solutions LLP <br>			
                        Account Number: xxxx <br> 			
                        Bank : Bank Name,<br>			
                        IFSC : xxxxx <br>			
                        PAN : xxxxx <br>		
                        </span>	
                    </div>
                    <div class="col-sm-4">
                        			
                    </div>
                    <div class="col-sm-4">
                        	Received with thanks ________________					
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
